body {
	background-color: #222;
	color: #fff;
	font-family: Cambria, Cochin, Times, "Times New Roman", serif;
}

.list {
	padding: 10px;
	background-color: #000;
	width: -webkit-max-content;
	width: -moz-max-content;
	width: max-content;
	display: flex;
	flex-direction: column;
}
.list li {
	cursor: pointer;
	display: inline-block;
}
.list li:hover {
	background-color: brown;
} 
.list li.active {
	background-color: chocolate;
}